@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans", "sans-serif";
  --color-lightblue: #009DE6;
  --color-brown: #484500;
  --color-brandred: #E02E23;
  --color-processbar-inactive: #CCC0C0;
}
